/**
 * custom grid css less
 *
 * @author zqqiang
 * @2014.05.04
 */

.red {
    color: #DE5113;
}

.green {
    color: #339900;
}

.gray {
    color: #CBCFCF;
}

.filterTitle {
    float: left;
    width: 150px;
    text-align: left;
}

.filterDayOfWeek {
    float: left;
    width: 150px;
    text-align: left;
}

.width50 {
    width: 50px;
}

.width100 {
    width: 100px;
}

.width300 {
    width: 300px;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: inherit;
    /* Or auto */
    
    padding: 0 10px;
    /* To give a bit of padding on the left and right */
    
    border-bottom: none;
}

img.logo-selected {
    border: 2px dotted gray;
    padding: 2px;
}

.underline {
    text-decoration: underline;
}

table.policy-package-grid {
    tbody {
        tr.selected {
            background-color: #000000;
            color: #FFFFFF;
        }
    }
}

.all-devices {
    tbody {
        tr.selected {
            background-color: #000000;
            color: #FFFFFF;
        }
    }
}
