{{#if label}}
	<label class="control-label {{#if layout}}{{layout.label}}{{/if}}" for="{{uiId}}">{{i18n label}}</label>
{{/if}}
<div class="{{#if layout}}{{layout.field}}{{/if}}" data-toggle="tooltip" title="{{i18n tooltip}}">
	<div class="text">
		<input ui="input" name="{{#if fieldname}}{{fieldname}}{{else}}{{name}}{{/if}}" class="form-control" type="text" id="{{uiId}}" placeholder="{{i18n placeholder}}" value="{{value}}"> <!--1 space-->
	</div>
	{{#if help}}<span class="help-block editor-help-text" style="margin-bottom:0"><small>{{i18n help}}</small></span>{{/if}}
	<span class="help-block editor-status-text input-error" ui="msg">{{i18n msg}}</span>
</div>
{{#if range}}
	<span class="{{#if layout}}{{layout.range}}{{/if}}">{{range}}</span>
{{/if}}
