<!-- related js: js/view/Navbar.js -->
<div class="page-header">
    <span class="title">Gov Admin</span>
</div>
<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse">
        <ul class="nav nav-tabs">
            <li role="presentation" action="click">
                <a href="#navigate/objects">System Settings</a>
            </li>
            <li role="presentation" action="click" id="logout">
                <a href="/auth/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
