<!-- related js: js/view/CreateNewPolicyPackage.js -->
<div class="widget-content">
    <form class="form-horizontal" role="form">
        <div class="form-header">
            Create New Policy Package
        </div>
        <div class="form-content">
        	<div class="form-body" region="formview"> </div>
            <div class="form-group">
                <div class="button-footer">
                    <button type="button" class="btn btn-primary" action="apply">Apply</button>
                    <button type="button" class="btn btn-default" action="cancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
