<!-- related js: js/view/CreateNewPolicyForOfflineProtection.js -->
<div class="widget-content">
    <form class="form-horizontal" role="form">
        <div class="form-header">
            Create New Policy
        </div>
        <div class="form-content">
            <div class="form-body">
                <div class="fieldset-header"><strong>Network Configuration</strong></div>
                <div class="seperate-line"></div>
                <div editor="policyName"></div>
                <div editor="deploymentMode"></div>
                <div editor="serverPool"></div>
                <div editor="protectedHostnames"></div>
                <!-- line -->
                <div class="seperate-trad"></div>
                <div class="seperate-line"></div>
                <div editor="blockingPort"></div>
                <div editor="dataCapturePort"></div>
                <!-- line -->
                <div class="seperate-trad"></div>
                <div class="seperate-line"></div>
                <div class="fieldset-header"><strong>Security Configuration</strong></div>
                <div class="seperate-line"></div>
                <div editor="offlineProtectionProfile"></div>
                <div editor="autoLearnProfile"></div>
                <div editor="monitorMode"></div>
                <div editor="urlCaseSensitivity"></div>
                <div editor="comments"></div>
            </div>
            <div class="form-group">
                <div class="button-footer">
                    <button type="button" class="btn btn-primary" action="apply">Apply</button>
                    <button type="button" class="btn btn-default" action="cancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
