<!-- related js: js/view/EditTemplate.js -->
<div class="widget-content">
    <form class="form-horizontal" role="form">
        <div class="form-header">
            Edit System Template
        </div>
        <div class="form-content">
            <div class="form-body"> 
                <div editor="name"></div>
                <div editor="description"></div>
            </div>
            <div class="form-group">
                <div class="button-footer">
                    <button type="button" class="btn btn-primary" action="ok">OK</button>
                    <button type="button" class="btn btn-default" action="cancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
