<!-- related js: js/view/EditGroup.js -->
<div class="widget-content">
    <form class="form-horizontal" role="form">
        <div class="form-header">
            Edit Device Group
        </div>
        <div class="form-content">
            <div class="form-title">
                Edit Group
            </div>
            <div class="form-body group-devices" region="formview"> 
                <div editor="name"></div>
                <div editor="description"></div>
                <div editor="devices"></div>
                <div>
                    <input id="checkbox-01" type="checkbox" checked action="show-all-devices" value='1'>
                    <label for="checkbox-01">Show All Devices</label>
                </div>
            </div>
            <div class="form-group">
                <div class="button-footer">
                    <button type="button" class="btn btn-primary" action="ok">OK</button>
                    <button type="button" class="btn btn-default" action="cancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>