<!-- related js: js/view/FirmwareUpdate.js -->
<div class="header">
    Group Firmware Information
</div>
<div class="body">
    <div class="grid">
        <div class="grid-header">
            Available Upgrades
        </div>
        <div region="update-grid"></div>
    </div>
    <div class="grid">
        <div class="grid-header">
            Upgrade History
        </div>
        <div region="history-grid"></div>
    </div>
</div>
<div class="footer">
    <button type="button" class="btn btn-primary" action="return">Return</button>
</div>
