<!-- related js: js/view/AllDevices.js -->
<ul class="nav nav-tabs">
    <li role="presentation">
        <a href="#navigate/DeviceManager/DevicesGroups/AllFortiWeb" style="color: #ffffff">Configurations</a>
    </li>
    <li role="presentation">
        <a href="#navigate/DeviceManager/DevicesGroups/GroupFirmware" style="color: #ffffff">Firmware</a>
    </li>
    <li role="presentation">
        <a href="#navigate/DeviceManager/DevicesGroups/GroupGeo" style="background-color: #e6e6e6;">Data Analytics</a>
    </li>
</ul>
<div region="tool"></div>
<div region="grid"></div>
<div region="formview"></div>