<!-- related js: js/view/GroupUpgrade.js -->
<div class="widget-content">
    <form class="form-horizontal" role="form">
        <div class="form-header">
            Group Upgrade
        </div>
        <div class="form-content">
            <div class="form-body" region="formview"> 
                <div editor="name"></div>
                <div editor="type"></div>
                <div editor="firmware"></div>
                <div editor="geo"></div>
            </div>
            <div class="form-group">
                <div class="button-footer">
                    <button type="button" class="btn btn-primary" action="ok">OK</button>
                    <button type="button" class="btn btn-default" action="cancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
