<!-- related js: js/view/RoutingPolicyOverlay.js -->
<div class="widget-content">
    <form class="form-horizontal" role="form">
        <div class="form-header">
            New HTTP Content Routing Policy
        </div>
        <div class="form-content">
            <div class="form-body" region="formview">
                <div editor="id"></div>
                <div editor="httpContentRoutingPolicyName"></div>
                <div editor="inheritWebProtectionProfile"></div>
                <div editor="webProtectionProfile"></div>
                <div editor="default"></div>
            </div>
            <div class="form-group">
                <div class="button-footer">
                    <button type="button" class="btn btn-primary" action="ok">OK</button>
                    <button type="button" class="btn btn-default" action="cancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
