<!-- related js: js/view/SystemTemplate.js -->
<div class="panel-heading">
    <a href="#">Templates</a>
</div>
<div region="templateContent">
    <div class="col-lg-6">
        <div region="dns-region"></div>
        <div region="snmp-region"></div>
        <div region="log-settings-region"></div>
    </div>
    <div class="col-lg-6">
        <div region="time-settings-region"></div>
        <div region="admin-settings-region"></div>
        <div region="forti-guard-region"></div>
    </div>
</div>
